@charset "UTF-8";

body{
  background-color: rgb(107, 107, 241);
  font: normal 20pt Verdana;
  text-align: center;
}
header{
  color: white;
}
section{
  background-color: white;
  padding: 15px;
  width: 700px ;
  margin: auto;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.338);
}
div#msg{
  padding: 10px;
}
div#txt{
  padding: 7px;
}

footer{
  color: white;
  text-align: center;
  font-style: italic;
}